body{
    background-color: rgba(154, 60, 60, 0.58);
}
html {
    scroll-behavior: smooth;
  }

/* Scrollbar hiden */
::-webkit-scrollbar { display: none; } /* Chrome, Safari */
html { -ms-overflow-style: none; scrollbar-width: none; } /* IE, Firefox */

#parent{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#child{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
}




#video1 {
  
    filter: blur(15px);
}

#video2 {

    filter: blur(5px);
}

.kleinnetz{
    height:350px;
    width: 450px;  
}

#hintergrund{
    background-color: rgb(40, 40, 40);
    
}

#infobox{
 
    width: 550px;
    height: 680px;
    
}

.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .bitcount {
    font-family: "Bitcount Prop Double Ink", system-ui;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "CRSV" 0.5,
      "ELSH" 0,
      "ELXP" 0,
      "SZP1" 0,
      "SZP2" 0,
      "XPN1" 0,
      "XPN2" 0,
      "YPN1" 0,
      "YPN2" 0;
  }

  .abril {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  }


.schwarzer-rand{
    text-shadow: 1px 1px 0 black;
}